In [3]:
#1 필요한 라이브러리 설치하기
import pandas as pd

data = pd.read_csv("test_df.csv")
data = data.set_index("행번")       # 행번을 인덱스로 설정
data

     이름         조사일   몸무게  단위    트레이너  지점명
행번
1   비현코  2019-01-01  70.0  kg   jason  잠실동
2   비현코  2019-03-01  68.0  kg   jason   잠실
3   비현코  2019-06-01   NaN  kg   jason  잠실동
4   비투코  2019-01-01  80.0  kg   jason   잠실
5   비투코  2019-03-01  75.0  kg   jason   잠실
6   비투코  2019-06-01   NaN  kg   jason   잠실
7   비사코  2019-01-01  89.0  kg  cherry   강남
8   비사코  2019-03-01   NaN  kg  cherry   강남
9   비사코  2019-06-01  92.0  kg  cherry   강남

데이터 확인

In [7]:
print(data.index)
print(data.columns)
print(data.values)
print(data.shape)

Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='행번')
Index(['이름', '조사일', '몸무게', '단위', '트레이너', '지점명'], dtype='object')
[['비현코' '2019-01-01' 70.0 'kg' 'jason' '잠실동']
 ['비현코' '2019-03-01' 68.0 'kg' 'jason' '잠실']
 ['비현코' '2019-06-01' nan 'kg' 'jason' '잠실동']
 ['비투코' '2019-01-01' 80.0 'kg' 'jason' '잠실']
 ['비투코' '2019-03-01' 75.0 'kg' 'jason' '잠실']
 ['비투코' '2019-06-01' nan 'kg' 'jason' '잠실']
 ['비사코' '2019-01-01' 89.0 'kg' 'cherry' '강남']
 ['비사코' '2019-03-01' nan 'kg' 'cherry' '강남']
 ['비사코' '2019-06-01' 92.0 'kg' 'cherry' '강남']]
(9, 6)

기본 연산