병원 정보 엑셀 파일 불러오는 코드 만들기

In [1]:
#데이터 읽기
import pandas as pd

file_path = "01_01_01_P.xlsx"
df = pd.read_excel(file_path)
print(len(df))

c:\Python\311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

7081

In [2]:
#column 이름 확인
for i, col in enumerate(df.columns):
    i += 1
    if i % 5 == 0:
        print(i, col)
        
    else:
        print(i, col, end=",")

1 번호,2 개방서비스명,3 개방서비스아이디,4 개방자치단체코드,5 관리번호
6 인허가일자,7 인허가취소일자,8 영업상태구분코드,9 영업상태명,10 상세영업상태코드
11 상세영업상태명,12 폐업일자,13 휴업시작일자,14 휴업종료일자,15 재개업일자
16 소재지전화,17 소재지면적,18 소재지우편번호,19 소재지전체주소,20 도로명전체주소
21 도로명우편번호,22 사업장명,23 최종수정시점,24 데이터갱신구분,25 데이터갱신일자
26 업태구분명,27 좌표정보(X),28 좌표정보(Y),29 의료기관종별명,30 의료인수
31 입원실수,32 병상수,33 총면적,34 진료과목내용,35 진료과목내용명
36 지정취소일자,37 완화의료지정형태,38 완화의료담당부서명,39 구급차특수,40 구급차일반
41 총인원,42 구조사수,43 허가병상수,44 최초지정일자,

소재지전체주소에서 값이 없으면 도로명전체주소값으로 대체하여 "주소" 에 저장
* 소재지 전체주소(지번주소)와 도로명  전체주소(도로명주소) 중에 하나만 있는 주소가 존재
* 도로명 전체주소를 기준으로 주소가 없다면 소재지 전체주소로 값을 채워 넣기

In [8]:
df[['소재지전체주소','도로명전체주소']]

,소재지전체주소,도로명전체주소
0,"서울특별시 종로구 신문로2가 1-158 썬타워빌딩 지하1층, 지상2,3,4,5,6,7층","서울특별시 종로구 경희궁길 26, 썬타워빌딩 지하1층, 지상2,3,4,5,6,7층 ..."
1,NaN,"서울특별시 종로구 새문안로5가길 33, 포레스트빌딩 2~12층,14층일부 (내자동)"
2,서울특별시 종로구 창신1동 327번지 2호 금호팰리스 4층,서울특별시 종로구 지봉로 29 (창신동)
3,서울특별시 종로구 돈의동 78번지,서울특별시 종로구 돈화문로9길 26 (돈의동)
4,서울특별시 종로구 종로6가 70,NaN
...,...,...
7076,NaN,제주특별자치도 서귀포시 일주동로 8638 (동홍동)
7077,제주특별자치도 서귀포시 1530번지 2호 외1필지,제주특별자치도 서귀포시 장수로 47 (동홍동)
7078,NaN,제주특별자치도 서귀포시 1100로 453-95 (회수동)
7079,제주특별자치도 서귀포시 부두로7(서귀동558-1),NaN
7080,제주특별자치도 서귀포시 서귀동 708번지 1호,제주특별자치도 서귀포시 부두로 34 (서귀동)

In [9]:
print("소재지전체주소 빈 데이터 수",df["소재지전체주소"].isnull().sum()) # numll 확인
print("도로명전체주소 빈 데이터 수",df["도로명전체주소"].isnull().sum()) # numll 확인

소재지전체주소 빈 데이터 수 1397
도로명전체주소 빈 데이터 수 399

In [11]:
import numpy as np

df['주소'] = np.where(pd.notnull(df['도로명전체주소']) == True, df['도로명전체주소'], df['소재지전체주소'])
print("주소 빈 데이터 수",df["주소"].isnull().sum()) # numll 확인
df.to_excel("결과확인.xlsx")

주소 빈 데이터 수 0

In [12]:
# 상세영업상태명  에서 폐업의 수와, 영업중 수 확인
print("폐업: ",(df["상세영업상태명"].str.contains('영업중',na=False) == False).sum())
print("영업중: ",df["상세영업상태명"].str.contains('영업중').sum())

폐업:  2900
영업중:  4181

주소에서 시/도 만 분리하는 코드

In [13]:
# 주소에서 시/도 주소만 분리하여 저장
df['시도주소'] = df['주소'].str.split(" ")

# 시 + 도 로 "시도주소"에 저장
df['시도주소'] = df['시도주소'].str.get(0) +" " +df['시도주소'].str.get(1)
print(df['시도주소'])

0          서울특별시 종로구
1          서울특별시 종로구
2          서울특별시 종로구
3          서울특별시 종로구
4          서울특별시 종로구
            ...
7076    제주특별자치도 서귀포시
7077    제주특별자치도 서귀포시
7078    제주특별자치도 서귀포시
7079    제주특별자치도 서귀포시
7080    제주특별자치도 서귀포시
Name: 시도주소, Length: 7081, dtype: object

병원의 수가 많은 상위 20개의 도시만 출력하기

In [14]:
# 시도 이름으로 묶고, 병원수가 많은 20개의 순서대로 출력하기
new_df = pd.DataFrame()
new_df["병원수"] = df.groupby('시도주소').size()
new_df["순위"] = new_df['병원수'].rank(ascending=False)
new_df["순위"] = new_df["순위"].astype(int)
new_df.sort_values(by='순위')[0:20]

            병원수  순위
시도주소
광주광역시 북구    198   1
전라북도 전주시    181   2
경상남도 창원시    147   3
광주광역시 서구    140   4
광주광역시 광산구   134   5
경기도 안산시     129   6
경기도 고양시     116   7
서울특별시 강남구   114   8
충청남도 천안시    111   9
경상남도 김해시    107  10
경기도 부천시     105  11
충청북도 청주시    104  12
경기도 수원시      98  13
경기도 용인시      91  14
대전광역시 서구     91  14
광주광역시 남구     86  16
부산광역시 사하구    81  17
대구광역시 달서구    78  18
경기도 성남시      77  19
서울특별시 영등포구   76  21