In [1]:
from openpyxl import load_workbook   # openpyxl.load_workbook
wb = load_workbook('address.xlsx')
wb.sheetnames

['주소', 'new_sheet1', 'new_sheet2']

In [2]:
# 워크시트를 가져오고, 값을 읽어낸다.
sheet = wb['주소']
sheet['A1'].value

'이름'

In [3]:
# 데이터가 있는 모든 행과 열에 대해서 반복을 할 수 있다. 실제로 데이터가 있는 영역으로 반복이 한정된다.
for row in sheet.iter_rows():
  for cell in row:
    print(cell, cell.value)

<Cell '주소'.A1> 이름
<Cell '주소'.B1> 전화번호
<Cell '주소'.A2> 홍길동
<Cell '주소'.B2> 7777
<Cell '주소'.A3> 홍길순
<Cell '주소'.B3> 3333

#### pandas로 엑셀 파일 읽기

In [4]:
import pandas as pd

df = pd.read_excel('address.xlsx')
df

    이름  전화번호
0  홍길동  7777
1  홍길순  3333

In [5]:
df = pd.read_excel('address.xlsx', '주소')    # 워크시트 이름 이용
df

    이름  전화번호
0  홍길동  7777
1  홍길순  3333

In [6]:
df['이름']

0    홍길동
1    홍길순
Name: 이름, dtype: object

In [7]:
df.iloc[0]

이름       홍길동
전화번호    7777
Name: 0, dtype: object

In [8]:
# 행단위 반복 실행 
for index, row in df.iterrows():
  print(index, row[0], row[1])

0 홍길동 7777
1 홍길순 3333

In [9]:
for column in df:
  print(column, list(df[column]))

이름 ['홍길동', '홍길순']
전화번호 [7777, 3333]

In [10]:
# 행 단위 접근
arr = df.values
arr

array([['홍길동', 7777],
       ['홍길순', 3333]], dtype=object)

In [11]:
arr[0]

array(['홍길동', 7777], dtype=object)

In [12]:
arr[0][1]

7777